<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <!--全局缓存开关，默认开启-->
    <setting name="cacheEnabled" value="true"/>
    <setting name="logImpl" value="STDOUT_LOGGING" />
  </settings>
  <!-- <properties resource="" url="">
     <property name="" value=""/>
   </properties>-->

  <!--    <plugins>-->
  <!--      <plugin interceptor="test.MyPlugins">-->
  <!--        <property name="name" value="阿三"/>-->
  <!--      </plugin>-->
  <!--PageHelper分页插件-->
  <!--  <plugins>-->
  <!--    <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
  <!--      &lt;!&ndash; 配置方言 &ndash;&gt;-->
  <!--&lt;!&ndash;      <property name="dialect" value="mysql"/>&ndash;&gt;-->
  <!--    </plugin>-->
  <!--  </plugins>-->

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis_demo?serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>

  <!--
    <typeAliases>
      <typeAlias type="" alias=""/>
      <package name=""/>
    </typeAliases>
  -->
  <!--  <typeHandlers>-->
  <!--    <typeHandler handler="" javaType="" jdbcType=""/>-->
  <!--    <package name=""/>-->
  <!--  </typeHandlers>-->

  <mappers>
    <!--
      <package name=""/>  name:将包内的映射器接口实现全部注册为映射器
      url: 使用完全限定资源定位符（URL）
      resource:使用相对于类路径的资源引用
      class: 使用映射器接口实现类的完全限定类名
    -->
    <mapper resource="test/UserMappper.xml"/>
  </mappers>
</configuration>
